body{
    margin: 0px;
    font-family: 'Rubik', sans-serif;
}
h1{
    font-size: 40px;
}
.new{
    color: orangered;
}
.hife-width{
    width: 40%;
    float: left;
    margin-left:  5%;
    padding-left: 2%;
}
.hife-width img{
    width: 100%;
}
.top{
  background-image: url(image/top-banner.png);
  background-repeat: no-repeat;
}
section{
    height: 500px;
   
}
.link{
    text-decoration: none ;
   border-radius: 5px;
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    background-image: linear-gradient( 45deg, orangered, orange,);

}